<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!--========================================================================-->
<!-- 携帯電話用のサイトテンプレート -->
<!--========================================================================-->
<html lang="ja">
  <head>
    <title><!--TMPL_VAR NAME="SITE_TITLE"--></title>
  </head>
  <body>
    <!--TMPL_VAR NAME="MENU"-->
    <h1><!--TMPL_VAR NAME="TITLE"--></h1>
    <div class="day body section">
      <!--TMPL_VAR NAME="CONTENT"-->
    </div>
    <!--TMPL_VAR NAME="FOOTER"-->
  </body>
</html>
