<!--=========================================================================-->
<!-- コメントの投稿フォーム -->
<!--=========================================================================-->
お名前：<input type="text" name="name" size="10" value="<!--TMPL_VAR NAME="NAME" ESCAPE="HTML"-->">
コメント：<input type="text" name="message" size="40">
<input type="submit" value="コメント">
