<!--========================================================================-->
<!-- ページ保存後のリダイレクト -->
<!--========================================================================-->
<html>
  <head>
    <title>moving...</title>
    <meta http-equiv="Refresh" content="0;URL=<!--TMPL_VAR NAME="URL"-->">
  </head>
  <body>
    Wait or <a href="<!--TMPL_VAR NAME="URL"-->">Click Here!!</a>
  </body>
</html>